<div class="panel">
    <h2>Tasks list</h2>
</div>

<!-- Table -->
<table class="table" id="tasks" width="100%">
    <thead>
    <td><b>Name</b></td>
    <td><b>Email</b></td>
    <td><b>Text</b></td>
    <td><b>Picture</b></td>
    <td class="text-right"><b>Status</b></td>
    </thead>
    <tbody>
    {% for item in tasks %}
        <tr>
            <td>{{ item.user_name }}</td>
            <td>{{ item.user_email }}</td>
            <td>{{ item.text }}</td>
            <td>
                {% if item.picture != '' %}
                    <br><img src="{{ pictures_url }}/{{ item.picture }}" width="320">
                {% endif %}
            </td>
            <td class="text-center" style="font-size: smaller">
                {% if item.is_done == 1 %} Done {% else %} Active {% endif %}
                {% if isAdmin %}
                    <div id="navbar" class="navbar-collapse collapse">
                        {% if is_admin == true %}
                            <form class="navbar-form navbar-right" action="/task/" method="post">
                                <input type="hidden" name="taskId" value="{{ item.id }}">
                                <button type="submit" class="btn btn-success">Edit</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>

{% block pagination %}
    {% if pagesCount %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{ prevPage }}">Previous</a></li>
                {% for i in range(1, pagesCount) %}
                    {% if i == currentPage %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/tasks/{{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item"><a class="page-link" href="{{ nextPage }}">Next</a></li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}