<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Задачи</div>

    <!-- Table -->
    <table class="table">
        <thead>
        <td><b>id</b></td>
        <td><b>name</b></td>
        <td><b>email</b></td>
        <td><b>text</b></td>
        <td><b>picture</b></td>
        <td><b>status</b></td>
        </thead>
        {% for item in tasks %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.user_name }}</td>
                <td>{{ item.user_email }}</td>
                <td>{{ item.text }}</td>
                <td>{{ item.picture }}</td>
                <td class="text-center" style="font-size: smaller; font-weight: bold">
                    {% if item.is_done == 1 %} Done {% else %} Active {% endif %}
                </td>
                {% if isAdmin %}
                    <td>
                        <div id="navbar" class="navbar-collapse collapse">
                            <form class="navbar-form navbar-right" action="/admin/task/" method="post">
                                <input type="hidden" name="taskId" value="{{ item.id }}">
                                <button type="submit" class="btn btn-success">Edit</button>
                            </form>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% block pagination %}
    {% if pagesCount %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{ prevPage }}">Previous</a></li>
                {% for i in range(1, pagesCount) %}
                    {% if i == currentPage %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/tasks/{{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item"><a class="page-link" href="{{ nextPage }}">Next</a></li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}